<div class="app-header">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Agencias</span>
          <span class="example-spacer"></span>
          <button (click)="openSearch()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          
        </mat-toolbar-row>
      </mat-toolbar>
</div>