<div class="wrapper-agencies">

    <div class="agencies-searchs" *ngIf="false">
        <mat-form-field class="frm-full-width" appearance="fill" >
            <mat-label>Nombre de la agencia</mat-label>
            <input matInput value="">
        </mat-form-field>
    </div>

    <mat-list role="list" aria-hidden="false">
        <mat-list-item aria-hidden="false" (click)="goDetailAgency(1)">
            <img matListAvatar src="http://via.placeholder.com/40x40">
            <div mat-line class="agency-list-name">Agencia 1</div>
            <div mat-line class="agency-list-district">Lima</div>
            <div mat-line class="agency-list-av">Avenida 123</div>
            <button mat-icon-button color="primary">
                <mat-icon>star_outline</mat-icon>
            </button>
        </mat-list-item>
        <mat-divider></mat-divider> 
        <mat-list-item aria-hidden="false" (click)="goDetailAgency(1)">
            <img matListAvatar src="http://via.placeholder.com/40x40">
            <div mat-line class="agency-list-name">Agencia 1</div>
            <div mat-line class="agency-list-district">Lima</div>
            <div mat-line class="agency-list-av">Avenida 123</div>
            <button mat-icon-button color="primary">
                <mat-icon>star_outline</mat-icon>
            </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item aria-hidden="false" (click)="goDetailAgency(1)">
            <img matListAvatar src="http://via.placeholder.com/40x40">
            <div mat-line class="agency-list-name">Agencia 1</div>
            <div mat-line class="agency-list-district">Lima</div>
            <div mat-line class="agency-list-av">Avenida 123</div>
            <button mat-icon-button color="primary">
                <mat-icon>star_outline</mat-icon>
            </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item aria-hidden="false" (click)="goDetailAgency(1)">
            <img matListAvatar src="http://via.placeholder.com/40x40">
            <div mat-line class="agency-list-name">Agencia 1</div>
            <div mat-line class="agency-list-district">Lima</div>
            <div mat-line class="agency-list-av">Avenida 123</div>
            <button mat-icon-button color="primary">
                <mat-icon>star_outline</mat-icon>
            </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item aria-hidden="false" (click)="goDetailAgency(1)">
            <img matListAvatar src="http://via.placeholder.com/40x40">
            <div mat-line class="agency-list-name">Agencia 1</div>
            <div mat-line class="agency-list-district">Lima</div>
            <div mat-line class="agency-list-av">Avenida 123</div>
            <button mat-icon-button color="primary">
                <mat-icon>star_outline</mat-icon>
            </button>
        </mat-list-item>
        <mat-divider></mat-divider> 
        <mat-list-item aria-hidden="false" (click)="goDetailAgency(1)">
            <img matListAvatar src="http://via.placeholder.com/40x40">
            <div mat-line class="agency-list-name">Agencia 1</div>
            <div mat-line class="agency-list-district">Lima</div>
            <div mat-line class="agency-list-av">Avenida 123</div>
            <button mat-icon-button color="primary">
                <mat-icon>star_outline</mat-icon>
            </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item aria-hidden="false" (click)="goDetailAgency(1)">
            <img matListAvatar src="http://via.placeholder.com/40x40">
            <div mat-line class="agency-list-name">Agencia 1</div>
            <div mat-line class="agency-list-district">Lima</div>
            <div mat-line class="agency-list-av">Avenida 123</div>
            <button mat-icon-button color="primary">
                <mat-icon>star_outline</mat-icon>
            </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item aria-hidden="false" (click)="goDetailAgency(1)">
            <img matListAvatar src="http://via.placeholder.com/40x40">
            <div mat-line class="agency-list-name">Agencia 1</div>
            <div mat-line class="agency-list-district">Lima</div>
            <div mat-line class="agency-list-av">Avenida 123</div>
            <button mat-icon-button color="primary">
                <mat-icon>star_outline</mat-icon>
            </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item aria-hidden="false" (click)="goDetailAgency(1)">
            <img matListAvatar src="http://via.placeholder.com/40x40">
            <div mat-line class="agency-list-name">Agencia 1</div>
            <div mat-line class="agency-list-district">Lima</div>
            <div mat-line class="agency-list-av">Avenida 123</div>
            <button mat-icon-button color="primary">
                <mat-icon>star_outline</mat-icon>
            </button>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>
<div class="wrapper-btn-actions-fixed">
    <button mat-fab color="primary" (click)="goAddAgency()">
        <mat-icon>add</mat-icon>
    </button>
</div>